<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>{% if post.title %}{{ post.title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/public/css/amazeui.min.css">
  <link rel="stylesheet" href="/public/css/app.css">
</head>
<body>

{% include header.html %}

{{ content }}

{% include footer.html %}

<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
  <a href="#top" title="回到顶部">
    <span class="am-gotop-title">GoTop</span>
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>

<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/amazeui.min.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?cff98725226896ccfb3b1634435b315c";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
</body>
</html>
